@model StudentInfoModel[]

<h1>Sample Student Information</h1>

<table border="1" class="student-table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Student ID</th>
            <th>Age</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model)
        {
            <tr>
                <td>@student.Name</td>
                <td>@student.StudentId</td>
                <td>@student.StudentAge</td>
            </tr>
        }
    </tbody>
</table>
